<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields addfieldpath="/administrator/components/com_kide/elements">
		<fieldset name="basic" label="COM_KIDE_LABEL_BASIC">
			<field label="COM_KIDE_DIRECT_ACCESS_T" description="COM_KIDE_DIRECT_ACCESS_D" type="list" default="0" name="direct">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_FAST_INIT_T" description="COM_KIDE_FAST_INIT_D" type="list" default="1" name="fast_init">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_SOLOREGISTRADOS" type="list" default="0" name="solo_registrados">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_MESSAGES_DIRECTION" type="list" default="bottom" name="order">
				<option value="top">COM_KIDE_TOP</option>
				<option value="bottom">COM_KIDE_BOTTOM</option>
			</field>
			<field label="COM_KIDE_SHOW" type="list" default="1" name="username">
				<option value="1">COM_KIDE_USERNAME</option>
				<option value="0">COM_KIDE_NAME</option>
			</field>
			<field label="COM_KIDE_ALLOW_SOUND_T" description="COM_KIDE_ALLOW_SOUND_D" type="list" default="1" name="sound">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_DEFAULT_TEMPLATE" type="kidetemplates" default="default" name="template" />
			<field label="COM_KIDE_URLS_TEXT" name="urls_text" type="list" default="text">
				<option value="text">COM_KIDE_URLS_TEXT_PERSONALIZED</option>
				<option value="link">COM_KIDE_URLS_TEXT_URL</option>
				<option value="no">COM_KIDE_URLS_TEXT_NO</option>
			</field>
			<field label="COM_KIDE_URLS_TEXT_PERSONALIZED_LABEL" name="urls_text_personalized" type="text" default="«link»" />
			<field label="COM_KIDE_ICONS_HIDDEN" type="list" default="0" name="icons_hidden">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_ICONS_SHOW_T_C" description="COM_KIDE_ICONS_SHOW_D" type="text" default="0" name="icons_show_com" />
			<field label="COM_KIDE_ICONS_SHOW_T_M" description="COM_KIDE_ICONS_SHOW_D" type="text" default="14" name="icons_show_mod" />
			<field label="COM_KIDE_SHOW_SUBMIT_BUTTON" type="list" default="0" name="button_send">
				<option value="0">COM_KIDE_NO_BUTTON</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_SHOW_AVATAR" description="COM_KIDE_SHOW_AVATAR_DESC" type="list" default="0" name="show_avatar">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
		</fieldset>
		<fieldset name="integration" label="COM_KIDE_LABEL_INTEGRATION">
			<field label="COM_KIDE_PERFIL_FB_T" description="COM_KIDE_PERFIL_FB_D" type="list" default="0" name="perfil_fb">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_PERFIL_FB_APP_ID" type="text" name="fb_app_id" />
			<field label="COM_KIDE_PERFIL_FB_APP_SECRET" type="text" name="fb_app_secret" />
			<field label="COM_KIDE_PERFIL_LINK" type="list" default="0" name="perfil_link">
				<option value="0">Gravatar</option>
				<option value="js">JomSocial</option>
				<option value="cb">Community Builder</option>
				<option value="cbe">Community Builder Enhanced</option>
				<option value="cbe25">Community Builder Exchange (CBE 2.5)</option> 
				<option value="kunena">Kunena</option>
				<option value="aup">AlphaUserPoints</option>
				<option value="agora">Agora</option>
			</field>
			<field label="COM_KIDE_GRAVATAR_STYLE" type="list" default="identicon" name="gravatar_d">
				<option value="identicon">COM_KIDE_GRAVATAR_IDENTICON</option>
				<option value="monsterid">COM_KIDE_GRAVATAR_MONSTERID</option>
				<option value="wavatar">COM_KIDE_GRAVATAR_WAVATAR</option>
				<option value="retro">COM_KIDE_GRAVATAR_RETRO</option>
			</field>
			<field label="COM_KIDE_RECAPTCHA_USE_T" description="COM_KIDE_RECAPTCHA_USE_D" type="list" default="0" name="recaptcha">
				<option value="0">COM_KIDE_NO</option>
				<option value="1">COM_KIDE_YES</option>
			</field>
			<field label="COM_KIDE_RECAPTCHA_PUBLIC_KEY" type="text" name="recaptcha_public" />
			<field label="COM_KIDE_RECAPTCHA_PRIVATE_KEY" type="text" name="recaptcha_private" />
		</fieldset>
		<fieldset name="advanced" label="COM_KIDE_LABEL_ADVANCED">
			<field label="COM_KIDE_ICONS_WINDOW" type="list" default="popup" name="icons_window">
				<option value="popup">Popup</option>
				<option value="iframe">Iframe</option>
				<option value="no_window">COM_KIDE_NO_WINDOW</option>
			</field>
			<field label="COM_KIDE_ICONS_POPUP_SIZE_T" description="COM_KIDE_ICONS_POPUP_SIZE_D" type="text" default="500x500" name="icons_popup_size" />
			<field label="COM_KIDE_AVATAR_MAXHEIGHT" description="COM_KIDE_AVATAR_MAXHEIGHT_DESC" type="text" default="30px" name="avatar_maxheight" />
			<field label="COM_KIDE_FORMAT_HOUR" type="text" default="G:i--" name="formato_hora" />
			<field label="COM_KIDE_MENSAJES_A_MOSTRAR" type="text" default="36" name="msgs_limit" />
			<field label="COM_KIDE_MENSAJES_A_GUARDAR" type="text" default="500" name="msgs_saved" />
			<field label="COM_KIDE_MENSAJES_MAX_STRLEN_T" description="COM_KIDE_MENSAJES_MAX_STRLEN_D" type="text" default="3000" name="msgs_max_strlen" />
			<field label="COM_KIDE_FORMATO_FECHA" type="text" default="j-n G:i:s" name="formato_fecha" />
			<field label="COM_KIDE_MENSAJES_EN_HISTORIAL" type="text" default="50" name="msgs_history" />
			<field label="COM_KIDE_PAGINAS_EN_HISTORIAL" type="text" default="5" name="pages_history" />
			<field label="COM_KIDE_SESION_TIME" type="text" default="100" name="sesion_time" />
			<field label="COM_KIDE_REFRESH_TIME" type="text" default="6" name="refresh_time" />
		</fieldset>
		<fieldset name="pro" label="COM_KIDE_LABEL_PRO">
			<field label="COM_KIDE_BANEAR_MINUTOS" type="text" default="5" name="baneado" />
			<field label="COM_KIDE_REFRESH_TIME_PRIVATES" type="text" default="7" name="refresh_time_privates" />
		</fieldset>
		<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
			<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" validate="rules" component="com_kide" section="component" />
		</fieldset>
	</fields>
</config>
